name: Linting
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: '3.11'
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Dependencies
      run: |
        uv sync
        uv pip install -e .
    - name: Linting
      run: |
          uv pip install pylint==2.15.8
          uv run python -m pylint --reports=n --rcfile=.pylintrc certbot_dns_hetzner
