name: Publish on pypi
on:
  push:
    tags:
jobs:
  publish:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Publish Python Package
      uses: mariamrf/py-package-publish-action@v1.0.0
      with:
        python_version: '3.11'
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
