name: Tests, Coverage
on: [push]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
    steps:
    - uses: actions/checkout@master
      with:
        submodules: 'true'
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Dependencies
      run: |
        uv sync
        uv pip install -e .
    - name: Testing with tox
      run: |
        uv pip install tox tox-gh-actions
        uv run tox
    - name: Generate coverage report
      run: |
        uv pip install pytest
        uv pip install pytest-cov
        uv run pytest --cov=./ --cov-report=xml certbot_dns_hetzner
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
